{% extends 'layout.html' %}

<title>SRX Policy Dashboard</title>
<div>
    {% load static %}
    <!-- Load the CSS template here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <!-- Add a header to the table -->
    <div class="table-title">
        <h3>SRX Policy Dashboard</h3>
    </div>
   {% block content %}
   {% for policy in policies %}
   {{policy.name}}
   {{policy.source_address}}
   {{policy.destination_address}}
   {{policy.application}}
   {% endfor %}


    <form action="display_policy/" method="GET" novalidate>
    {%csrf_token%}
    <table>
    {{ form.as_table }}
    </table> 
      <input class="button primary" type="submit" value="Modify Policy"> 
    </form>
   
   {% endblock %}

   
    <!-- Create our first row, which will be a list of each data center location -->
</div>