 {% extends 'layout.html' %}

<title>SRX Policy Dashboard</title>
<div>
    {% load static %}
    <!-- Load the CSS template here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <!-- Add a header to the table -->
    <div class="table-title">
        <h3>SRX Policy Dashboard</h3>
    </div>
   {% block content %}
      <div class="row">
      <div class="col-sm-2">
          
      </div>
      <div class="col-sm-6 ">
          <h3>Firewall Ticket Resolution Application</h3>
          <br>
          <form action="submit" method="post">
              <h3>Parse Policies</h3>
              </br>
              <select>
                <option value="select_fw" option selected="true" disabled="disabled">Select Firewall</option>
                <option value="EVDC" name="list_select">2020rdg-idf-fw-1-ci</option>
                <option value="CHDC" name="list_select">abbt-232-021639-fw-1-ci</option>
                <option value="TEST_SRX" name="list_select">lev-fw-srx-tns</option>
            </select>
            </form>
            <br>
            <h6>Enter Source Host</h6>
            <form action="submit" method="post">
              {%csrf_token%}
              {{ form }}
                <input class="button primary" type="submit" value="Get Policies">   
            </form>
              
    {% endblock %}

   
    <!-- Create our first row, which will be a list of each data center location -->
</div>