 {% extends 'layout.html' %}

<title>SRX Policy Dashboard</title>
<div>
    {% load static %}
    <!-- Load the CSS template here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <!-- Add a header to the table -->
    <div class="table-title">
        <h3>SRX Policy Dashboard</h3>
    </div>
   {% block content %}
   
     
          <h3>Firewall Ticket Resolution Application</h3>
          <br>
            <h3>Juniper Policy To Modify</h3>
            <br>
      <h3>{{ title }}</h3>
       
    {% if policies %}        
     {% for Policy in policies %}
      <div>
        <p>Policy: {{ Policy.Policy }}</p>
        <p>Source: {{ Policy.Source }}</p>
        <p>Dest: {{ Policy.Dest }}</p>
        <p>App: {{ Policy.Port }}</p>
      </div>
     {% endfor %}

    {% elif databaseEntry %} 

      <p>Policy: {{databaseEntry.name}}</p>
      <p>Source: {{databaseEntry.source_address}}}</p>
      <p>Dest: {{databaseEntry.destination_address}}}</p>  
      <p>App: {{databaseEntry.application}}}</p>

    {% else %}
    
    <p> No valid policy selected </p>

    {% endif %}
        <form action="policyUpdate/" method="POST" novalidate>
          {%csrf_token%}
          <table>
            {{ form.as_table }}
          </table> 
          <input class="button primary" type="submit" value="Modify Policy"> 
        </form>
       
              
    {% endblock %}

   
    <!-- Create our first row, which will be a list of each data center location -->
</div>