{% extends 'layout.html' %}
<title>SRX Policy Dashboard</title>
<div align="center">
    {% load static %}
    <!-- Load the CSS template here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <!-- Add a header to the table -->
    <div class="table-title">
        <h3>SRX Policy Dashboard</h3>
    </div>
   {% block content %}
   
   <h3>{{ title }}</h3>
   
    {% if policies %} 
     
    <table  class="table table-striped">
    <thead>
   
    <th scope="col">Policy</th>
    <th scope="col">Source</th>
    <th scope="col">Destination</th>
    <th scope="col">Application</th> 
    </tr> 
    </thead>
    <tbody> 
     {% for Policy in policies %}    
      <tr>
     
          <td> {{ Policy.Policy }}</td>
     
        <td>{{ Policy.Source }}</td>
    
   
        <td>{{ Policy.Dest }}</td>
  
        <td>{{ Policy.Port }}</td></tr>
        {% endfor %}
        </tbody>
      </table>
     
    {% else %}

    



    <p> There were not any matches for the data entered. </p>

    {% endif %}
          
    {% endblock %}

</div>