{% extends 'layout.html' %}
<title>SRX Policy Dashboard</title>
<div align="center">
    {% load static %}
    <!-- Load the CSS template here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <!-- Add a header to the table -->
    <div class="table-title">
        <h3>SRX Policy Dashboard</h3>
    </div>
   {% block content %}
   
   <h3>{{ title }}</h3>
   
    {% if policies %}        
    <table  class="table table-striped">
    <thead>
    <th scope="col">Policy</th>
    <th scope="col">Source</th>
    <th scope="col">Destination</th>
    <th scope="col">Service</th> 
    <th scope="col">Action</th> 
    <th scope="col">Description</th>
    </tr> 
    </thead>
    <tbody> 
     {% for Policy in policies %}    
      <tr>
        <td> {{ Policy.Policy }}</td>
        <td>{{ Policy.Source }}</td>
        <td>{{ Policy.Dest }}</td>
        <td>{{ Policy.Port }}</td>
        <td>{{ Policy.Action }}</td></tr>
        {% endfor %}
        </tbody>
      </table>

      <form action="policyUpdate/" method="POST" novalidate>
          {%csrf_token%}
          <table>
            {{ form.as_table }}
          </table> 
          <input class="button primary" type="submit" value="Modify Policy"> 
        </form>

    {% elif source_databaseEntry %} 

    <table  class="table table-striped">
    <thead>
    <th scope="col">Source Host IP</th>
    <th scope="col">Object(s)</th>
    <th scope="col">Address Set(s)</th>   
    </tr> 
    </thead>
    <tbody> 
        {% for policyrow in displayObjectVars %} 
      <tr>
        <td> {{ policyrow.source_ip }}</td>
        <td> {{ policyrow.defined_as }}</td>
        <td> {{ policyrow.address_set }}</td>
        {% endfor %}
    </tbody>
    </table>    

    <table  class="table table-striped">
    <thead>
    <th scope="col">Policy</th>
    <th scope="col">Source</th>
    <th scope="col">Destination</th>
    <th scope="col">Service</th> 
    <th scope="col">Action</th> 
    </tr> 
    </thead>
    <tbody> 
        {% for policyrow in source_databaseEntry %} 
      <tr>
        <td> {{ policyrow.name }}</td>
        <td>{{ policyrow.source_address }}</td>
        <td>{{ policyrow.destination_address }}</td>
        <td>{{ policyrow.application }}</td>
        <td>{{ policyrow.action }}</td></tr> 
        {% endfor %}
        </tbody>
      </table>
        
    {% endif %}

    {% if facts %} 
       <table  class="table table-striped">
    
    <tbody>    
      <tr>
        <th scope="row">Hostname</th>
        <td> {{ facts.hostname }}</td>
    </tr>
     <tr>
        <th scope="row">Model</th>
        <td>{{ facts.model }}</td>
    </tr>
    <tr>
        <th scope="row">Junos Info</th>
        <td>{{ facts.junos_info }}</td>
    </tr>
    <tr>
        <th scope="row">Serial Number</th>
        <td>{{ facts.serialnumber }}</td>
    </tr>
    <tr>
        <th scope="row">Version</th>
        <td>{{ facts.version }}</td>
    </tr>
    <tr>
        <th scope="row">Info</th>
        <td>{{ facts.re_info }}</td>
    </tr>
        </tbody>
      </table>
    {% else %}
             <form action="/" method="POST">
          {%csrf_token%}
          <table>
            {{ form.as_table }}
          </table>     
            <input class="button primary" type="submit" value="Home">   
        </form>

    

    {% endif %}
          
    {% endblock %}

</div>